<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme"
        content="light dark"/>
  <title>草莓奶油软糖 HP</title>
  <link href="styles/style.css"
        rel="stylesheet"/>
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="index.html">草莓奶油软糖主页</a>
    </li>
    <li>
      <a href="po.html">文字</a>
    </li>
    <li>
      <a href="about.html">关于</a>
    </li>
    <li>
      <a href="links.html">链接</a>
    </li>
    <li>
      <a href="extras.html">小玩意儿</a>
    </li>
  </ul>
</nav>
<wrapper-block>
  <header>
    <hgroup>
      <h1>标题</h1>
      <p>作者</p>
    </hgroup>
  </header>
  <main>

  </main>
</wrapper-block>
</body>
</html>
