<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="color-scheme" content="light dark" />
    <title>标题-草莓奶油软糖</title>
    <link href="../styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="../index.html">草莓奶油软糖主页</a>
          <a href="../po.html">文字</a>
          <a href="../about.html">关于</a>
          <a href="../links.html">链接</a>
          <a href="../extras.html">小玩意儿</a>
        </li>
      </ul>
    </nav>
    <header>
      <h1>标题</h1>
      <time datetime="2004-09-17">日期</time>
    </header>
    <main>
      <article>
        <p>

        </p>
      </article>
    </main>
  </body>
</html>
