* {
  margin: 0rem;
  padding: 0rem;
}
:root {
  color-scheme: light dark;
}

body {
  background-image: linear-gradient(pink, white);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 10rem;
}
@media (prefers-color-scheme: dark) {
  body {
    background-image: none;
    background-color: rgb(35, 35, 35);
    color: rgb(212, 212, 212);
  }
}
nav {
  text-align: left;
}
nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
}

nav li a {
  display: inline;
  padding: 1rem;
  text-align: left;
}

nav li a:hover {
  background-color: rgb(164, 253, 255);
}
nav li a:link,
nav li a:visited,
nav li a:hover,
nav li a:active {
  color: rgb(70, 70, 70);
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
header,
main {
  width: 50rem;
  margin: 0 auto;
}
main .smid {
  text-align: right;
}
.preview p,
article p {
  text-indent: 2rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1rem 0 1rem 0;
  text-align: left;
}

.toy {
  margin: 1rem 1rem 1rem 1rem;
}

.toy input,
.toy button {
  margin: 0.5rem 0.5rem;
}
.preview {
  margin: 1rem 1rem 1rem 1rem;
}
.preview .nDate {
  text-align: right;
}

img {
  width: 50%;
}

.pcenter {
  text-align: center;
}
